# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files and databases
*.log
*.sql
*.sqlite

# Ignore Composer dependencies
/vendor/

# Ignore environment variables
.env

# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore node_modules
node_modules/

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore PHPStorm project files
/.phpstorm.meta.php/

# Ignore XAMPP specific files
/xamppfiles/

# Ignore other unwanted files
*.bak
*.tmp
*.swp
*.swo